html {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "殴り書きクレヨン" , sans-serif;  
}

header{
  background-color: white;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.header-logo  img{
  width: 50px;
  height: 50px;
  float: left;
  margin:15px 30px;
  padding: 0;
}
.header-logo :hover{
  opacity: 0.7;
}
.header-nav{
  list-style:none ;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  
}
.header-nav li{
  float: left;
  padding: 7px 40px;
  font-size: 35px;
  font-weight: bold;
  transition: all .5s;
}

.header-nav li a {
  color: black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  
}
.header-nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:black;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.header-nav li a:hover::after {
  transform: scale(1, 1);
}

.header-nav li :hover {
  color: rgb(190, 190, 190);
}

main{
  margin-top: 80px;
  background-color:rgba(250, 250, 250, 0.5);
}

.side-nav {
  
  width: 170px;
  margin:30px 0 0 27px;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 10;
  
}
.side-nav li {
  margin-bottom: 20px;
}
.side-nav img{
  width: 150px;
  height: 60px;
}
.side-nav li :hover{
  opacity: 0.6;
}


#top {
  position: fixed;
  right: 30px;
  bottom: 30px;
	border-radius: 50%;
  z-index: 10;
}
#top a{
  position: relative;
  display: block;
  text-decoration: none;
}
#top img {
  width: 75px;
  height: 75px;
}
#top a :hover{
  opacity: 0.5;
}



.contents {
  text-align: center;
  padding-bottom: 80px;
}
.contents h1 {
  padding-top:30px ;
  margin: 0 auto;
  font-size: 45px;
}


.html, .css ,.ps ,.ai ,.pp ,.t{
  padding-top: 100px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.html h1 ,.css h1 ,.ps h1 ,.ai h1 ,.pp h1 ,.t h1{
  padding:20px 0 30px 0;
  margin: 0 auto;
  font-size: 45px;
}

table {
  margin-top: 30px;
  width: 100%;
  font-size: 25px;
}

 th {
  width: 20%;
  background-color: rgba(160, 0, 0, 0.5);
  letter-spacing: 4px;
}
 td {
  background-color:rgba(255, 0, 0, 0.322);
  width: 80%;
  padding: 20px 38px;
  letter-spacing: 4px;
  line-height: 40px;
}

tr .p {
  text-align: left;
  
}
tr .p2 {
  text-align: left;
  padding-left: 180.5px;
}
tr .p1 {
  text-align: left;
  padding-left: 178px;
}

footer {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
}
footer h1 {
  font-weight: normal;
  font-size: 15px;
  padding: 28px 0;
  margin: 0;
}