html {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "殴り書きクレヨン" , sans-serif;  
}

header{
  background-color: white;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.header-logo  img{
  width: 50px;
  height: 50px;
  float: left;
  margin:15px 30px;
  padding: 0;
}
.header-logo :hover{
  opacity: 0.7;
}
.header-nav{
  list-style:none ;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  
}
.header-nav li{
  float: left;
  padding: 7px 40px;
  font-size: 35px;
  font-weight: bold;
  transition: all .5s;
}

.header-nav li a {
  color: black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  
}
.header-nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:black;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.header-nav li a:hover::after {
	transform: scale(1, 1);
}

.header-nav li :hover {
  color: rgb(190, 190, 190);
}



main{
  margin-top: 80px;
  background-color:rgba(250, 250, 250, 0.5);
}

.pagetop{
  width: 800px;
   padding-top: 20px;
   margin: 0 auto;
}

.vertical {
  writing-mode: vertical-rl;
  float: left;
  font-size: 25px;
  line-height: 40px;
  margin: 0;
  height: 450px;
  letter-spacing: 5px;
}
.vertical .mgr{
  margin: 80px;
}

.contents {
  padding-top: 50px;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.contents .img2{
 width: 220px;
 height: 100px;
}

.pagetop .img1 {
  width: 360px;
  height: 300px;
  padding-left: 140px;
}

#page_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
	border-radius: 50%;
	z-index: 10;
}
#page_top a{
  position: relative;
  display: block;
  text-decoration: none;
}
#page_top img {
  width: 75px;
  height: 75px;
}
#page_top a :hover{
  opacity: 0.5;
}

.works {
  text-align: center;
  padding-top:70px ;
}
.works h1{
 
  font-size: 35px;
}
.works p{
  margin: 0;
  font-size: 20px;
}

.work1 {
  width: 30%; 
 display: inline-block;
 vertical-align: top;
 margin: 50px 15px 0 15px;
}
.work1 .mgr20 {
  margin-right: 20px;
}
.works  .pic {
  width: 300px;
  height: 240px;
}
.works .plate1 {
  width: 150px;
  height: 69px;
}
.work1 a :hover , .work2 a :hover {
  opacity: 0.6;
}

.work1 p , .work2 p {
  margin: 0;
  line-height: 35px;
  font-size: 22px;
}
.work2 {
  width: 30%; 
  display: inline-block;
  vertical-align: top;
  margin:30px 15px 0 15px;
}
.work2 .mgr20 {
  margin-right: 20px;
}

.work1 a , .work2 a {
  color: black;
  text-decoration: none;
}



.skills {
  text-align: center;
  padding-top: 70px;
}
.skills h1 {
  font-size: 35px;
}
.skills p {
  font-size: 22px;
  margin: 0;
}
.skills-contents {
  width: 12%; 
  display: inline-block;
  vertical-align: top;
  margin: 50px 15px 0 15px;

}
.skills-contents img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
.skills-contents  img :hover{
  color: rgb(190, 190, 190);
}
.skills-contents  a{
  text-decoration: none;
  color: black;
}
.skills-contents p :hover{
  color: rgb(190, 190, 190);
}



.about {
  padding-top: 70px;
}
.about h1 {
  font-size: 35px;
  text-align: center;
}

.about-images{
  width: 500px;
  text-align: center;
}
.about .icons {
  position: relative;
}
.about .icon1 ,.icon2{
  width: 360px ;
  height: 280px ;
}
.about .icon1 {
  display: block;
  margin: 0 auto;
}
.about .icon2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
@keyframes icons {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.icons img {
	animation-name: icons;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	opacity: 0;
}
.icons .icon2 {
	animation-delay:5s;
}


.about .nameplate{
  width: 250px;
  height: 160px;
}
.about-images, .about-txt {
  display: inline-block;
	vertical-align: middle;
}
.about-txt {
  letter-spacing:  2.2px;
}
.about-txt p {
  line-height: 30px;
  font-size: 20px;
}
.about-txt  .red {
  color: rgb(160, 0, 0);
  text-decoration: none;
}

.about-txt2  {
  margin-top: 30px;
  font-size: 20px;
}
.about-txt  a{
  padding: 10px 20px;
	border: 1px solid black;
	transition: all 0.3s;
  text-decoration: none;
	color: black;
}
.about-txt2 :hover {
  background-color:rgb(150, 150, 150)
}



.contact {
  padding-top: 70px;
  text-align: center;
  height: 660px;
}

.contact h1 {
  font-size: 35px;
}
.contact p {
  padding-bottom: 10px;
  line-height: 50px;
  font-size: 20px;
}
form {
  line-height: 5px;
  width: 500px;
  height: 420px;
  text-align: center;
  margin: 0 auto;
  
}
.contact form p{
  line-height: 3px;
  padding-top:30px ;
}
textarea {
  margin-bottom: 40px;
}
.submit {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "殴り書きクレヨン" ,sans-serif;
}



footer {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
}
footer h1 {
  font-weight: normal;
  font-size: 15px;
  padding: 28px 0;
  margin: 0;
}