html {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "殴り書きクレヨン" ,sans-serif;
}


header{
  background-color: white;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}
.header-logo  img{
  width: 50px;
  height: 50px;
  float: left;
  margin:15px 30px;
  padding: 0;
}
.header-logo :hover{
  opacity: 0.7;
}
.header-nav{
  list-style:none ;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.header-nav li{
  float: left;
  padding: 7px 40px;
  font-size: 35px;
  font-weight: bold;
  transition: all .5s;
}

.header-nav li a {
  color: black;
  position: relative;
  display: inline-block;
  text-decoration: none;
  
}
.header-nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:black;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.header-nav li a:hover::after {
	transform: scale(1, 1);
}

.header-nav li :hover {
  color: rgb(190, 190, 190);
}


main{
  margin-top: 80px;
  background-color:rgba(250, 250, 250, 0.5);

}

.side-nav {
  width: 170px;
  margin:30px 0 0 27px;
  list-style: none;
  padding: 0;
  position: fixed;
  z-index: 10;
  
}
.side-nav li {
  margin-bottom: 20px;
}
.side-nav img{
  width: 150px;
  height: 60px;
}
.side-nav li :hover{
 opacity: 0.6;
}

#page_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
	border-radius: 50%;
	z-index: 10;
}
#page_top a{
  position: relative;
  display: block;
  text-decoration: none;
}
#page_top img {
  width: 75px;
  height: 75px;
}
#page_top a :hover{
  opacity: 0.5;
}


.contents {
  text-align: center;
  padding-bottom: 80px;
}

.liberar {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.liberar h1{
  padding:20px 0 30px 0;
  margin: 0 auto;
  font-size: 35px;
}
.liberar .img {
  margin-top:30px;
}

.img2 {
  width: 260px;
  height: 120px;
}

.liberar p {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2.5px;
}
.liberar .mgr20 {
  margin: 20px;
}

.liberar a :hover, .dot a :hover, .rui a :hover, .depp a :hover,.tea a :hover, .hair a :hover {
  opacity: 0.6;
}

table {
  margin-top: 30px;
  width: 100%;
  font-size: 25px;
}

 th {
  width: 30%;
  padding: 20px 10px;
  background-color: rgba(160, 0, 0, 0.5);
  letter-spacing: 4px;
}
 td {
  background-color:rgba(255, 0, 0, 0.322);
  width: 70%;
  padding: 20px 10px;
  letter-spacing: 4px;
  line-height: 40px;
}
tr .p {
  text-align: left;
}


.dot , .rui , .depp , .tea , .hair {
  padding-top: 100px;
  margin: 0 auto;
  width: 800px;
}
.dot .img1 ,.rui .img1 , .depp .img1 , .tea .img1 , .hair .img1{
  width: 550px;
  height: 440px;
}


footer {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
}
footer h1 {
  font-weight: normal;
  font-size: 15px;
  padding: 28px 0;
  margin: 0;
}